
.filter-button-responsive{
    flex: 1;
    display:flex;
    flex-direction: column;
    @media screen and (min-width:480px){
        flex-direction: row;
        justify-content: center;
        align-items: center;
        * + *{
            margin-left: 1em;
        }
    }

    *{
        display: inline;
        width: auto;
    }
}